jobs:
  build-node:
    docker:
      - image: circleci/node:10.15.3
    steps:
      - checkout
      - run: npm install && npm run build
  # - build-image:
  #   machine: true
  #   steps:
  #     - run:
  #         command: echo ">>> Building Docker image"
  #     - store_artifacts:
  #         path: /tmp/artifacts
  #         destination: build

workflows:
  version: 2
  main:
    jobs:
      - build-node:
          filters:
            branches:
              only: circleci
            # tags:
            #   only: /v.*/
