version: 2.1
jobs:
  build-node:
    docker:
      - image: circleci/node:10.15.3
    steps:
      - checkout
      - run: npm install && npm run build
  build-image:
    machine: true
    environment:
      IMAGE_NAME: niki2a/d3stocks
    steps:
      - checkout
      # - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

workflows:
  version: 2
  main:
    jobs:
      - build-node:
          filters:
            branches:
              only: circleci
            # tags:
            #   only: /v.*/
      - build-image:
          requires:
            - build-node
          filters:
            branches:
              only: circleci
