version: 2.1
executors:
  docker-builder:
    environment:
      IMAGE_NAME: jonathancardoso/building-on-ci
    docker:
      - image: circleci/buildpack-deps:stretch
jobs:
  build-node:
    docker:
      - image: circleci/node:10.15.3
    steps:
      - checkout
      - run: npm install && npm run build
  build-image:
    executor: docker-builder
    working_directory: /
    # machine: true
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

workflows:
  version: 2
  main:
    jobs:
      - build-node:
          filters:
            branches:
              only: circleci
            # tags:
            #   only: /v.*/
      - build-image:
          requires:
            - build-node
          filters:
            branches:
              only: circleci
